body {
  font-family: "Open Sans Variable", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--text-line-height);
  color: var(--primary-color);
  background-color: var(--bg);
  width: 100%;
  user-select: none;
}
