.button {
  background-color: transparent;
  border: none;
  color: var(--input-icon-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--input-icon-hovered-color);
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.icon {
  width: auto;
}

.sm {
  height: calc(var(--button-height-sm) - 2px);
  margin-right: -4px;

  .icon {
    height: 20px;
  }
}

.md {
  height: calc(var(--button-height-md) - 2px);
  margin-right: -6px;

  .icon {
    height: 22px;
  }
}

.lg {
  height: calc(var(--button-height-lg) - 2px);
  margin-right: -8px;

  .icon {
    height: 24px;
  }
}
