.ButtonBase {
  display: block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  padding: 0;
  line-height: 1.3;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  background-color: var(--button-bg, transparent);
  color: var(--button-color);
  border: 1px solid var(--button-border-color, var(--button-bg));

  &:hover {
    background-color: var(--button-hovered-bg);
    border-color: var(--button-hovered-border, var(--button-hovered-bg));
  }

  &:focus-visible {
    box-shadow: var(--button-focused-box-shadow);
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  &.contained {
    --button-color: var(--secondary-color);
    --button-bg: var(--disabled-button-color);
    --button-hovered-bg: var(--disabled-button-color);
  }

  &.outlined {
    --button-color: var(--disabled-button-color);
    --button-border-color: var(--disabled-button-color-darker);
    --button-hovered-bg: var(--disabled-button-color-darker);
    --button-hovered-border: var(--disabled-button-color);
  }

  &.text {
    --button-color: var(--disabled-button-color);
    --button-hovered-bg: var(--disabled-button-color-darker);
  }
}

:not(.disabled) {
  &.primary {
    --button-focused-box-shadow: var(--primary-button-focused-box-shadow);

    &.contained {
      --button-color: var(--inverted-primary-color);
      --button-bg: var(--primary-button-color);
      --button-hovered-bg: var(--primary-button-color-hovered);
    }

    &.outlined {
      --button-color: var(--primary-button-color);
      --button-border-color: var(--primary-button-color-darker);
      --button-hovered-bg: var(--primary-button-color-transparent);
      --button-hovered-border: var(--primary-button-color);
    }

    &.text {
      --button-color: var(--primary-button-color);
      --button-hovered-bg: var(--primary-button-color-transparent);
    }
  }

  &.secondary {
    --button-focused-box-shadow: var(--secondary-button-focused-box-shadow);

    &.contained {
      --button-color: var(--inverted-primary-color);
      --button-bg: var(--secondary-button-color);
      --button-hovered-bg: var(--secondary-button-color-hovered);
    }

    &.outlined {
      --button-color: var(--secondary-button-color);
      --button-border-color: var(--secondary-button-color-darker);
      --button-hovered-bg: var(--secondary-button-color-transparent);
      --button-hovered-border: var(--secondary-button-color);
    }

    &.text {
      --button-color: var(--secondary-button-color);
      --button-hovered-bg: var(--secondary-button-color-transparent);
    }
  }

  &.default {
    --button-focused-box-shadow: var(--default-button-focused-box-shadow);

    &.contained {
      --button-color: var(--inverted-primary-color);
      --button-bg: var(--default-button-color);
      --button-hovered-bg: var(--default-button-color-hovered);
    }

    &.outlined {
      --button-color: var(--default-button-color);
      --button-border-color: var(--default-button-color-darker);
      --button-hovered-bg: var(--default-button-color-transparent);
      --button-hovered-border: var(--default-button-color);
    }

    &.text {
      --button-color: var(--default-button-color);
      --button-hovered-bg: var(--default-button-color-transparent);
    }
  }

  &.success {
    --button-focused-box-shadow: var(--success-button-focused-box-shadow);

    &.contained {
      --button-color: var(--inverted-primary-color);
      --button-bg: var(--success-button-color);
      --button-hovered-bg: var(--success-button-color-hovered);
    }

    &.outlined {
      --button-color: var(--success-button-color);
      --button-border-color: var(--success-button-color-darker);
      --button-hovered-bg: var(--success-button-color-transparent);
      --button-hovered-border: var(--success-button-color);
    }

    &.text {
      --button-color: var(--success-button-color);
      --button-hovered-bg: var(--success-button-color-transparent);
    }
  }

  &.danger {
    --button-focused-box-shadow: var(--danger-button-focused-box-shadow);

    &.contained {
      --button-color: var(--inverted-primary-color);
      --button-bg: var(--danger-button-color);
      --button-hovered-bg: var(--danger-button-color-hovered);
    }

    &.outlined {
      --button-color: var(--danger-button-color);
      --button-border-color: var(--danger-button-color-darker);
      --button-hovered-bg: var(--danger-button-color-transparent);
      --button-hovered-border: var(--danger-button-color);
    }

    &.text {
      --button-color: var(--danger-button-color);
      --button-hovered-bg: var(--danger-button-color-transparent);
    }
  }
}
